@keyframes spin
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}
@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}


@keyframes slideFromTop
{
    0%
    {
        opacity: 0;
        transform: translateY(-20px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromLeft
{
    0%
    {
        opacity: 0;
        transform: translateX(-50vw);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromRight
{
    0%
    {
        opacity: 0;
        transform: translateX(60px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromBottom
{
    0%
    {
        opacity: 0;
        transform: translateY(60px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flash {
    0% {
        background-color: #FFF2;
        box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
    }
    50% {
        background-color: #FFF;
        box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }
    100% {
        background-color: #FFF2;
        box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
    }
}