:root
{
    --background-color: var(--color-black);
    --background-color-accent: var(--color-dark-grey);

    --color-black: black;
    --color-transparent-black: rgb(0,0,0,0.8);
    --color-white: white;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #404040;
    --color-dark-grey-2: #2c2c2c;
    --color-dark-pink: rgb(233, 74, 147);

    --font-roboto: Roboto, sans-serif;
    --font-small: 1.25rem;
    --font-medium: 1.5625rem;
    --font-large: 1.875rem;
    --font-extra-large: 2.5rem;
}

.active
{
    display: block !important;
}

.active-flex
{
    display: flex !important;
}

.active-flex-column
{
    display: flex !important;
    flex-direction: column !important;
}