.query-menu
{
    z-index: 1;
    display: none;
    flex-direction: column;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-black);

    border-radius: 25px;
    padding: var(--padding-small);
}

.query-menu-header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.query-menu-exit
{
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
}

.query-menu-exit:hover
{
    cursor: pointer;
    filter: var(--filter-dark-green);
}

.query-menu-coordinates 
{
    color: var(--color-white);
    border-bottom: solid 2.5px var(--color-white);
    align-items: center;
}

.chart-container
{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
}

.chart-title
{
    text-align: center;
    color: var(--color-white);
    border-bottom: solid 2.5px var(--color-white);
}

/* .pie-container
{
    height: 300px;
    width: 375px;
} */

/* .gauge-container
{
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: center;
} */

.chart-reforest-expl
{
    text-align: center;
    color: var(--color-white);
    /* font-size: 12; */
    padding-top: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
   .query-menu
   {
       min-width: 18rem;
       max-height: 25rem;
   }

   .query-menu-coordinates
   {
        font-size: 0.8rem;
   }

   .chart-container 
   {
       flex-direction: column;
       align-items: center;
       font-size: 0.9rem;
       overflow-y: scroll;
       justify-content: flex-start;
    }
    
    .chart-title
    {
        font-size: 0.9rem;
    }

   .pie-container
   {
       height: 30rem;
       width: 90%;
       justify-content: center;
   }

   .gauge-container
   {
    height: 25rem;
    width: 90%;
    font-size: 0.05rem;
   }

   .chart-reforest-expl
   {
       font-size: 0.7rem;
       padding-top: 75px;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
    .query-menu
    {
        width: 40rem;
        max-height: 15rem;
    }

    .query-menu-coordinates
    {
        font-size: 1rem;
    }
 
    .chart-container 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        overflow-y: hidden;
     }
     
     .chart-title
     {
         font-size: 0.8rem;
     }
 
    .pie-container
    {
        height: 30rem;
        width: 40%;
        justify-content: center;
        padding-bottom: 20px;
    }
 
    /* TODO
        FIX GAUGE SIZING
    */

    .gauge-container
    {
        height: 30rem;
        width: 40%;
        font-size: 0.05rem;
    }
 
    .chart-reforest-expl
    {
        font-size: 0.8rem;
    }
 

    
    /* .ol-popup
    {
        min-width: 20rem;
    }

    .ol-popup__content
    {
        font-size: 1.5rem;
    } */
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    .query-menu
   {
       min-width: 20rem;
       max-height: 5rem;
   }

   .query-menu-coordinates
   {
        font-size: 1.5rem;
    }

   .chart-container 
   {
       flex-direction: column;
       align-items: center;
       font-size: 1.5rem;
       overflow-y: scroll;
       justify-content: flex-start;
    }
    
   .chart-title
   {
       font-size: 1.5rem;
    }

   .pie-container
   {
       height: 25vh;
       width: 90%;
       justify-content: center;
   }

   .gauge-container
   {
       height: 25rem;
       width: 90%;
       font-size: 0.05rem;
       align-items: center;
       justify-content: center;
   }

   .gauge-chart-reforestation
   {
       align-items: center;
       width: 20rem;
   }

   .chart-reforest-expl
   {
       font-size: 0.6rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
    .query-menu
    {
        max-height: 30rem;
        width: 70vw;
        max-width: 60rem;
    }

    .query-menu-coordinates 
    {
        color: var(--color-white);
        border-bottom: solid 2.5px var(--color-white);
        align-items: center;
    }
 
    .chart-container 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        overflow-y: hidden;
    }
     
    .chart-title
    {
        text-align: center;
        color: var(--color-white);
        font-size: 1.3rem;
        border-bottom: solid 2.5px var(--color-white);
    }
 
    .pie-container
    {
        height: 300px;
        width: 375px;
    }
 
    .gauge-container
    {
        height: 400px;
        width: 400px;
        align-items: center;
        justify-content: center;
    }
 
    .chart-reforest-expl
    {
        /* text-align: center;
        color: var(--color-white); */
        font-size: 1rem;
        padding-top: 160px;
    }
}