.controls-bar
{
    background-color: black;

    position: fixed;
    top: 9rem;
    left: 2.5rem;

    width: auto;
    height: 100px;

    z-index: 1000;
}

.control
{
    font-size: 1.5rem;
    font-weight: bold;

    background-color: var(--color-black);
    color: var(--color-white);
    border: none;

    width: 2.18rem;
    height: 2.18rem;

    text-align: center;
}

.control:hover
{
    background-color: var(--color-dark-grey);
    cursor: pointer;
}