.index-container
{
    display: grid;
    grid-template:
            [content-left] "hero" [content-right];
            /*[content-left] "mission" [content-right];*/

    min-height: 100vh;

    color: var(--color-white);
    background-color: var(--color-black);

    user-select: none;
}

.hero
{
    grid-area: hero;
    background-attachment: fixed;
}

.hero-caption
{
    z-index: 1;
    position: absolute;
    top: 300px;
    left: 380px;

    opacity: .9;
    text-transform: uppercase;
    font-size: var(--font-extra-large);
}

.hero-button
{
    color: var(--color-white);
    background: none;

    border: 2px solid var(--color-white);
    border-radius: 50px;
    text-transform: uppercase;
    font-size: var(--font-small);
    padding: 20px;
    transition: background .5s;
}

.hero-button:hover,
.hero-button:focus
{
    cursor: pointer;
    border: 2px solid var(--color-dark-green);
    background-color: var(--color-dark-green);
}

.hero-video
{
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    object-fit: cover;
}

.mission
{
    background-color: #423E3E;
    padding: 10px;

    display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
    .hero-caption
    {
        left: 30px;
        font-size: var(--font-large);
    }
}

@media only screen and (min-width: 600px)
{
    .hero-caption
    {
        top: 400px;
        left: 180px;
    }
}

/* iphones 6/7/8 and Plus in landscape */
@media only screen and (max-width: 900px) and (orientation: landscape)
{
    .hero-caption
    {
        top: 140px;
        left: 280px;
        font-size: var(--font-large);
    }
}

@media only screen and (min-width: 992px)
{
    .hero-caption
    {
        top: 300px;
        left: 300px;
    }
}
