.layer-menu
{
    display: none;
}

.layer-menu-exit
{
    border: none;
    background-color: var(--background-color);
    color: var(--color-dark-pink);

    font-size: 1rem;
    padding: .3125rem;
}

.layer-menu-exit:hover
{
    cursor: pointer;
}

.layer-menu-header
{
    display: flex;
    justify-content: space-between;

    color: var(--color-white);
}

.layer-menu-content
{
    padding: .3125rem;
    color: var(--color-white);

    animation: slideFromRight .3s .2s backwards;
}

.layer-group-heading
{
    font-weight: bold;
    background-color: var(--color-dark-grey-2);
    padding: 0.3125rem;

    width: 100%;
    text-align: left;
    color: var(--color-white);
    font-size: var(--font-medium);
    border: none;
}

.layer-group-heading:hover
{
    cursor: pointer;
    color: var(--color-light-grey);
}

.layer-group-content
{
    display: none;
    animation: slideFromTop .2s;
}

.layer-group-heading,
.layer-group-content
{
    margin-bottom: 0.3125rem;
}

.layer-item
{
    display: flex;
    align-items: center;
}

.layer-item-toggle
{
    margin: 10px;
    width: 20px;
    height: 20px;
}