#mission-hero
{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../../resources/images/backdrops/mission-section-backdrop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: #423E3E;
}

.hero-header
{
    color: var(--color-white);
    text-transform: uppercase;

    padding: var(--padding-small);
    border-bottom: 2px solid var(--color-white);
}

#mission-content
{
    display: flex;
    flex-direction: column;

    margin: var(--margin-large);
    padding: 0 var(--padding-large) 0 var(--padding-large);
}

#explore-button
{
    background: var(--color-dark-green);
    margin-top: var(--margin-large);
    align-self: center;
    border: none;

    color: var(--color-white);
    font-size: var(--font-small);

    transition: background 0.3s, transform 0.2s ease-in;

}

#explore-button:hover
{
    transform: scale(1.2);
    background: var(--color-dark-green);

    color: var(--color-white);
}