.side-menu
{
    display: none;
    width: 400px;
    height: 100%;
    padding: 20px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;

    background-color: var(--color-black);
}



