/*.ol-zoom-in*/
/*{*/
/*    position: fixed;*/
/*    top: 9rem;*/
/*    left: 2.5rem;*/
/*}*/

/*.ol-zoom-out*/
/*{*/
/*    font-size: 2rem;*/

/*    position: fixed;*/
/*    top: 11.5rem;*/
/*    left: 2.5rem;*/
/*}*/

/*.ol-zoom*/
/*{*/
/*    position: fixed;*/
/*    top: 9rem;*/
/*    left: 2.5rem;*/

/*    z-index: 1001;*/
/*}*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
    .ol-zoom-in, .ol-zoom-out
    {
        font-size: 2.5rem;

        width: 3rem;
        height: 3.3rem;
        left: 1rem;
    }

    .ol-zoom-in
    {
        display: none;
    }

    .ol-zoom-out
    {
        display: none;
    }
}

/* iphones 6/7/8 and Plus in landscape */
@media only screen and (max-width: 800px) and (orientation: landscape)
{
    .ol-zoom-in
    {
        display: none;
    }

    .ol-zoom-out
    {
        display: none;
    }
}

/* iphones X in landscape */
@media only screen and (max-width: 900px) and (orientation: landscape)
{
    .ol-zoom-in
    {
        display: none;
    }

    .ol-zoom-out
    {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
    .ol-zoom-in
    {
        display: none;
    }

    .ol-zoom-out
    {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    .ol-zoom-in,
    .ol-zoom-out
    {
        font-size: 3rem;
        width: 6rem;
        height: 5rem;
        left: 2.5rem;
    }

    .ol-zoom-in
    {
        top: 15rem;
    }

    .ol-zoom-out
    {
        top: 21.75rem;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
    .ol-zoom-in,
    .ol-zoom-out
    {
        display: block;

        font-size: 1.5rem;
        width: 2.18rem;
        height: 2.18rem;
        left: 2.5rem;
    }

    .ol-zoom-in
    {
        top: 9rem;
    }

    .ol-zoom-out
    {
        top: 11.5rem;
    }
}
